############################
# IntelliJ
############################
.idea/
*.iml
out/

############################
# Eclipse
############################
.project
.classpath
.settings/
bin/

############################
# VSCode
############################
.vscode/

############################
# Java
############################
*.class

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Logs
############################
*.log

############################
# Package Files
############################
*.jar
*.war
*.ear
